name: Prettier Check

on:
  push:
    branches:
      - main

jobs:
  prettier-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
  
      - name: Setup node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci 

      - name: Run formatting with Prettier
        run: npm run format 
      
      - name: Commit Prettier Changes 
        run: |
          git config --local user.email "github-actions[bot]@users.noreply@github.com"
          git config --local user.name "github-actions[bot]"
          git add -A
          git diff --quiet && git diff --staged --quiet || git commit -m"format codebase with Prettier"
    
      - name: Push code to repository
        run: git push 



